{% import "macros.twig" as m %}
<TEI xmlns="http://www.tei-c.org/ns/1.0" xml:id="repertorium.suche.xml">
    <teiHeader>
        <fileDesc>
            <titleStmt>
                <title>Selbstzeugnisse der Frühen Neuzeit in der Herzog August Bibliothek </title>
            </titleStmt>
            <publicationStmt>
                <publisher>
                    <name ref="http://d-nb.info/gnd/8989-8">Herzog August Bibliothek Wolfenbüttel</name>
                </publisher>
                <pubPlace>
                    <name>Wolfenbüttel, Germany</name>
                </pubPlace>
            </publicationStmt>
            <sourceDesc>
                <p>born digital</p>
            </sourceDesc>
        </fileDesc>
    </teiHeader>
    <text>
        <body>
            <!-- Im folgenden <div> werden die dynamischen Inhalte ergänzt -->
            <div xmlns="http://www.w3.org/1999/xhtml" class="mainpage">
                <h1>Suche im Forschungsportal</h1>
                <div class="search-result">
                    <h2>Ihre Suche nach: {{ query|escape }}</h2>
                    {% if pages.total == 0 %}
                        <p>Keine Treffer für Ihre Suchanfrage</p>
                    {% else %}
                        <p>
                            Zeige Treffer {{ 1 + paginator.currentPageOffset }} bis
                            {% if paginator.currentPageOffset + paginator.itemsPerPage > pages.total %}
                                {{ pages.total }}
                            {% else %}
                                {{ paginator.currentPageOffset + paginator.itemsPerPage }}
                            {% endif %}
                            von {{ pages.total }}
                        </p>
                        {{ m.paginator(paginator) }}
                        <ol>
                            {% for page in pages %}
                                <li>
                                    <a href="/{{ page.id|replace({'.': '/'}) }}">
                                        {{ page.title }}
                                    </a>
                                    {% if pages.highlighting[page.id] %}
                                        {% for text in pages.highlighting[page.id].text %}
                                            <div>
                                                … {{ text|escape|replace({'{{{': '<em>', '}}}': '</em>'})|raw }} …
                                            </div>
                                        {% endfor %}
                                    {% endif %}
                                </li>
                            {% endfor %}
                        </ol>
                    {% endif %}
                </div>
            </div>
        </body>
    </text>
</TEI>
