{% import "macros.twig" as m %}
<TEI xmlns="http://www.tei-c.org/ns/1.0" xml:id="repertorium.liste.xml">
    <teiHeader>
        <fileDesc>
            <titleStmt>
                <title>Selbstzeugnisse der Fr체hen Neuzeit in der Herzog August Bibliothek </title>
            </titleStmt>
            <publicationStmt>
                <publisher>
                    <name ref="http://d-nb.info/gnd/8989-8">Herzog August Bibliothek Wolfenb체ttel</name>
                </publisher>
                <pubPlace>
                    <name>Wolfenb체ttel, Germany</name>
                </pubPlace>
            </publicationStmt>
            <sourceDesc>
                <p>born digital</p>
            </sourceDesc>
        </fileDesc>
    </teiHeader>
    <text>
        <body>
            <head>Liste der Selbstzeugnisbeschreibungen</head>
            <!-- Im folgenden <div> werden die dynamischen Inhalte erg채nzt -->
            <div xmlns="http://www.w3.org/1999/xhtml" class="mainpage">
                <h2>{{ fields[field] }}</h2>
                <ul class="screen-only">
                    {% for value, label in fields %}
                        {% if value != field %}
                            <li><a href="?feld={{ value|e }}">{{ label }}</a></li>
                        {% endif %}
                    {% endfor %}
                </ul>
                <table>
                    <tbody>
                        {% for index, group in records.groups[field] %}
                            <tr>
                                <th colspan="2" id="id{{ index }}">
                                    {% if group.groupValue %}{{ group.groupValue }}{% else %}unbekannt{% endif %}
                                </th>
                            </tr>
                            {% for record in group.records %}
                                <tr>
                                    <td>
                                        <a href="{{ path('repertorium.eintrag', { metsId: record.id }) }}">
                                            {{ record.title.0 }}
                                        </a>
                                    </td>
                                    <td>
                                        {% if record.identifier|length == 2 %}
                                            {{ record.identifier.1 }}
                                        {% else %}
                                            {{ record.identifier.0 }}
                                        {% endif %}
                                    </td>
                                </tr>
                            {% endfor %}
                        {% endfor %}
                    </tbody>
                </table>
            </div>
            <div xmlns="http://www.w3.org/1999/xhtml" class="infopanel">
                <div class="screen-only facet local-navigation">
                    <h1>Schnellauswahl</h1>
                    <ul>
                        {% for index, group in records.groups[field] %}
                            <li>
                                <a href="#id{{ index }}">
                                    {% if group.groupValue %}{{ group.groupValue }}{% else %}unbekannt{% endif %}
                                    ({{ group.records|length }})
                                </a>
                            </li>
                        {% endfor %}
                    </ul>
                </div>
            </div>
        </body>
    </text>
</TEI>
