{% import "macros.twig" as m %}
<TEI xmlns="http://www.tei-c.org/ns/1.0" xml:id="repertorium.suche.xml.twig">
  <teiHeader>
    <fileDesc>
      <titleStmt>
        <title>Selbstzeugnisse der Frühen Neuzeit in der Herzog August Bibliothek </title>
      </titleStmt>
      <publicationStmt>
        <publisher>
          <name ref="http://d-nb.info/gnd/8989-8">Herzog August Bibliothek Wolfenbüttel</name>
        </publisher>
        <pubPlace>
          <name>Wolfenbüttel, Germany</name>
        </pubPlace>
      </publicationStmt>
      <sourceDesc>
        <p>born digital</p>
      </sourceDesc>
    </fileDesc>
  </teiHeader>
  <text>
    <body>
        <div xmlns="http://www.w3.org/1999/xhtml" class="content">                
                <!-- Im folgenden <div> werden die dynamischen Inhalte ergänzt -->
                <div xmlns="http://www.w3.org/1999/xhtml" class="contentWrap">
                    <h1>Suche im Repertorium</h1>
                    <form class="searchform" method="GET">
                        <fieldset>
                            <div class="searchbar">
                                <label for="query">Suche nach</label>
                                <input type="text" name="query" id="query" value="{{ query }}"/>
                                <label for="field">Suche in</label>
                                <select name="field" id="field">
                                    {% for value, label in fields %}
                                    <option value="{{ value }}"{% if value == field %} selected="selected" {% endif %}>
                                        {{ label }}
                                    </option>
                                    {% endfor %}
                                </select>
                                <input type="submit" value=" "/>
                            </div>
                        </fieldset>
                    </form>
                    <div class="pagination">
                        {% if records.total == 0 %}
                        <span>Keine Treffer für Ihre Suchanfrage</span>
                        {% else %}
                        <span>
                            Zeige Treffer {{ 1 + paginator.currentPageOffset }} bis
                            {% if paginator.currentPageOffset + paginator.itemsPerPage > records.total %}
                            {{ records.total }}
                            {% else %}
                            {{ paginator.currentPageOffset + paginator.itemsPerPage }}
                            {% endif %}
                            <br/> von {{ records.total }}</span>
                        {{ m.paginator(paginator) }}
                    </div>
                    <div class="search-result">
                        
                        <ol>
                            {% for record in records %}
                            <li>
                                {% if record.id in available %}
                                <a href="{{ path('repertorium.eintrag', { metsId: record.id }) }}">
                                    <strong>
                                        {% if record.title %}
                                        {{ record.title.0 }}
                                        {% else %}
                                        [ohne Titel]
                                        {% endif %}
                                    </strong>
                                </a>
                                {% else %}
                                {% if record.title %}
                                {{ record.title.0 }}
                                {% else %}
                                [ohne Titel]
                                {% endif %}
                                {% endif %}
                                <dl>
                                    <dt>Signatur</dt>
                                    <dd>
                                        {% if record.identifier|length == 2 %}
                                        {{ record.identifier.1 }}
                                        {% else %}
                                        {{ record.identifier.0 }}
                                        {% endif %}
                                    </dd>
                                    <dt>Entstehungszeit</dt>
                                    <dd>
                                        {% if record.date_display %}
                                        {{ record.date_display }}
                                        {% else %}
                                        Unbekannt
                                        {% endif %}
                                    </dd>
                                    {% if record.creator_display %}
                                    <dt>Verfasser</dt>
                                    {% for name in record.creator_display %}
                                    <dd>{{ name }}</dd>
                                    {% endfor %}
                                    {% endif %}
                                    {% if record.abstract %}
                                    <dt>Zusammenfassung</dt>
                                    <dd>{{ record.abstract }}</dd>
                                    {% endif %}
                                </dl>
                            </li>
                            {% endfor %}
                        </ol>
                        {% endif %}
                    </div>
                </div>
                <div xmlns="http://www.w3.org/1999/xhtml" id="infopanel">
                    <input class="trigInp" type="checkbox" role="button"/>                    
                    <a id="trigBtn" role="button">
                        <span></span>
                        <span></span>
                    </a>
                    {% for facet in facets %}
                    <div class="facet xlarge">
                        <div class="facetWrap">
                        <h1>{{ facet.label }}</h1>
                        <ul>
                            {% for value in facet.facetValueContainer.iterator %}
                            <li class="facet-value">
                                <span class="facet-value-label {% if value.selected %} active {% endif %}">
                                    <a href="?{{ value.query|url_encode }}">
                                        {{ value.label }}
                                    </a>
                                </span>
                                <span class="facet-value-count">{{ value.count }}</span>
                            </li>
                            {% endfor %}
                        </ul>
                        </div>
                    </div>
                    {% endfor %}
                </div>                
            
        </div>
      
    </body>
  </text>
</TEI>
